@import '../../../Config/variables';

.section-title {
  margin-left: -14px;
  margin-top: 30px;
  position: relative;

  &__name {
    color: $subtitle-color;
    font-size: 1.187em;
    font-weight: normal;
    letter-spacing: 0.63px;
    text-transform: uppercase;
    margin: 0 0 2px;
    padding-left: 14px;
  }

  &__division {
    display: block;
    width: 80%;
    height: 1px;
    border-top: 1px dashed $subtitle-color;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: $subtitle-color;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: -6px
    }
  }
}