//_variables.scss

//Global
$body-bg-color: #282c34;
$content-bg-color: #efefef;
$font-size-global: 1em;
$text-color: #555555;
$text-font: 'Open Sans', sans-serif;
$title-font: Lato, sans-serif;

//Tag
$tag-text-color: #ffffff;
$default-bg-color: #e8e8e8;
$purple-bg-color: #7f87ab;
$red-bg-color: #e75656;
$blue-bg-color: #3a95d9;