.picture {
  margin: 0;
  padding: 0;
  
  img {
    background-image: url('/images/no-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
  }

  &__size {
    &--small {
      width: 25%;
    }

    &--medium {
      width: 50%;
    }

    &--large {
      width: 70%;
    }

    &--big {
      width: 80%;
    }
  }

  &__circular {
    overflow: hidden;
    border-radius: 50%;
  }
}